<header>
    <div>
        <div>
        <span><img src="assets/svg/menu.svg"></span>
        <a aria-label="Keep" href="#">
            <span><img src="assets/png/googlekeep.png"></span>
            <span>Keep</span>
        </a>
        </div>
        <div>For Search</div>
    <div> For settings</div>
    </div>
</header>