<ng-container *ngFor="let task of taskList">
    <div>
        <input type="checkbox" />
        <span>{{task.taskTitle}}</span>
        <span>{{task.taskDesc}}</span>
        <button>X</button>
    </div>
</ng-container>